PORT=
NODE_ENV=
URL_REACT=

MONGO_URI=

MAX_NUMBER_SCHEDULE=

EMAIL_APP=
EMAIL_APP_PASSWORD=

SECRET_KEY=
TOKEN_EXPIRY=

MOMO_PARTNER_CODE=
MOMO_ACCESS_KEY=
MOMO_SECRET_KEY=
MOMO_API_URL=
MOMO_REDIRECT_URL=
MOMO_IPN_URL=
